#top {
  height: 50rem;
  background-color: blue;
}

#middle {
  height: 50rem;
  background-color: red;
}

#bottom {
  height: 50rem;
  background-color: black;
}

#testing {
  background-color: red;
}
