/* navbar component */
#navbar {
}

.HashLink {
  color: white;
  margin-left: 3rem;
}
/* //////////////////////////// */
/* Landing page Component*/
/* //////////////////////////// */
#header {
  height: 50rem;
  background-color: blue;
}
/*Introduction div*/
#introSection {
}

/* Portfolio div */
#portfolioSection {
  width: 100%;
  max-width: 100%;
  height: 10rem;
  background-color: aqua;
  color: rgb(180, 22, 83);
}

/* Footer div */
#footer {
  height: 50rem;
  background-color: black;
}

/* //////////////////////////// */
/* Portfolio component */
/* //////////////////////////// */
